.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
.nav-link {
    color:white;
    
    
}
.ul{
    text-align: center;
}
.nav-link:hover{
    color:orange;
}
h1{
    font-size: 4.75rem;
    margin-bottom: 5px;
    text-align: center;
    color: whitesmoke;
}
.btn{
    background-color: brown;
    margin-left: 44%;
}
.card{
    border: none;
}
header{
    
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1rem;
}
